html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background: #f9f9f9;
  overflow: hidden;
}

#curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  z-index: 10000;
}

.header {
  z-index: 1000;
  background: #f9f9f9;
  display: flex;
  height: 48px;
  position: relative;
}
#header {
  opacity: 0;
}
.logo-image {
  cursor: pointer;
}
.menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.home .max {
  font-size: 40px;
  line-height: 2.2em;
  font-family: "Bebas Neue";
  font-weight: 600;
}
.home .profession {
  font-size: 24px;
  font-family: "Circle";
  font-weight: 400;
  letter-spacing: 1px;
}
.menu-item {
  cursor: pointer;
  color: #3d3d3d;
  margin-right: 8px;
  font-family: "Bebas Neue";
  font-weight: 400;
}
.main-pane-wrapper {
  overflow: hidden;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}
.pane {
  position: absolute;
  max-width: 960px;
  -webkit-transform: translate3d(0px, 100%, 0px);
  transform: translate3d(0px, 100%, 0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex: 1;
  margin: auto;
  background: #f9f9f9;
  padding-top: 8px;
  overflow: hidden;
}
.about-subheader,
.prices-subheader,
.prices-line-subheader {
  font-family: "Bebas Neue";
  font-weight: 600;
  font-size: 1.4em;
  line-height: 2em;
}
.header {
  width: calc(100% - 96px);
  height: 48px;
  padding: 48px 48px 0;
}
.logo-image {
  width: 60px;
  height: 60px;
}
.menu-item {
  font-size: 1.6em;
  margin-right: 24px;
}

.pane {
  padding-top: 8px;
  width: 100%;
  height: calc(100% - 104px);
}
.home,
.contacts {
  padding-bottom: 72px;
  height: calc(100% - 176px);
}
.about,
.prices {
  padding: 0 24px;
  width: calc(100% - 48px);
  padding-top: 8px;
}

.about-text,
.prices-text {
  font-size: 1.1em;
  padding: 24px 24px 0;
  font-family: "Circle";
  font-weight: 400;
  color: #3d3d3d;
}
.prices-wrappper {
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
}

.home {
  z-index: 100;
}
.galery {
  z-index: 150;
  padding-top: 0;
  height: calc(100% - 188px);
}
.about {
  z-index: 90;
}
.home-lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -52px;
}
.home-line {
  opacity: 0;
  color: #3d3d3d;
}

#galery-wrapper {
  align-items: center;
  overflow: hidden;
  z-index: 100;
  width: 90%;
  height: 100%;
}
.galery-item-wrapper {
  width: calc(90% - 12px);
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}
.galery-item-wrapper:first-child {
  margin-left: 0;
}
.galery-subheader {
  font-size: 1.2em;
  line-height: 3em;
}
.galery-item {
  max-width: 100%;
  max-height: calc(100% - 20px);
}
.button {
  position: relative;
  line-height: 26px;
  height: 26px;
}

@media (hover: hover) {
  .button:hover > div {
    transform: scaleX(1);
  }
}

.button.active div {
  transform: scaleX(1);
}
.button div {
  width: 100%;
  height: 2px;
  background-color: #3d3d3d;
  position: absolute;
  bottom: 0;
  left: -1px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.messengers-plate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 8px;
}
.messengers-plate a {
  padding: 4px;
  cursor: pointer;
}
.messengers-plate a img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}
.contacts-tel-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.contacts-tel-mail a {
  text-decoration: none;
  color: #3d3d3d !important;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 20px;
}
.contacts-tel-mail a:not(:first-child) {
  margin-top: 8px;
}
.contacts-city-year {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 8px;
}
.contacts-city-year span {
  color: #3d3d3d;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 20px;
}
