html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background: #f9f9f9;
  overflow: hidden;
}

#curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  z-index: 600;
}

.header {
  z-index: 500;
  background: #f9f9f9;
  display: flex;
  height: 48px;
  position: sticky;
  top: 0;
}

.logo-image {
  cursor: pointer;
}
.menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.home .max {
  font-size: 40px;
  line-height: 2.2em;
  font-family: "Bebas Neue";
  font-weight: 600;
}
.home .profession {
  font-size: 24px;
  font-family: "Circle";
  font-weight: 400;
  letter-spacing: 1px;
}
.menu-item {
  cursor: pointer;
  color: #3d3d3d;
  margin-right: 8px;
  font-family: "Bebas Neue";
  font-weight: 400;
}
.main-pane-wrapper {
  color: #3d3d3d;
  display: block;
  z-index: 0;
  overflow-y: auto;
  height: 100%;
}

.about-subheader,
.prices-subheader,
.prices-line-subheader {
  font-family: "Bebas Neue";
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.4em;
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 64px);
    padding: 34px 34px 16px;
    height: 48px;
  }
  .logo-image {
    width: 56px;
    height: 56px;
  }
  .menu-item {
    font-size: 1.4em;
    margin-right: 8px;
  }

  .galery {
    padding: 100px 0;
    height: calc(100% - 200px);
  }

  .home {
    height: calc(100% - 98px);
  }

  .galery:before,
  .about:before,
  .prices:before,
  .contacts:before {
    display: block;
    content: " ";
    margin-top: -98px;
    height: 98px;
    visibility: hidden;
  }

  .about,
  .prices,
  .contacts {
    margin: 16px 16px 0 16px;
    min-height: 51%;
  }

  .prices,
  .contacts {
    margin-top: calc(98px + 80px);
  }

  .max-text {
    font-size: 1.1em;
    padding-top: 1.5em;
    flex: 1;
  }

  .prices-wrappper {
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: space-between;
  }
  .prices-wrappper div:not(:first-child) {
    margin-left: 32px;
  }
}

@media screen and (min-width: 1023px) {
  .pane {
    max-width: 960px;
    margin: auto;
  }
  .prices,
  .contacts {
    margin-top: calc(98px + 80px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 40px);
    padding: 32px 16px 16px 32px;
    height: 40px;
  }
  .logo-image {
    width: 40px;
    height: 40px;
  }
  .menu-item {
    font-size: 1.4em;
    margin-right: 6px;
  }

  .galery {
    padding: 100px 0;
    height: calc(100% - 200px);
  }
  .home {
    height: calc(100% - 88px);
  }

  .galery:before,
  .about:before,
  .prices:before,
  .contacts:before {
    display: block;
    content: " ";
    margin-top: -88px;
    height: 88px;
    visibility: hidden;
  }
  .about,
  .prices,
  .contacts {
    margin: 16px 16px 0 16px;
    min-height: 51%;
  }
  .prices,
  .contacts {
    margin-top: calc(88px + 80px);
  }

  .max-text {
    font-size: 1.1em;
    line-height: 1.4em;
    padding-top: 1.4em;
  }

  .prices-wrappper {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (max-width: 414px) {
  .header {
    width: calc(100% - 30px);
    padding: 32px 10px 16px 20px;
    height: 40px;
  }
  .logo-image {
    width: 36px;
    height: 36px;
  }
  .menu-item {
    font-size: 1.2em;
    margin-right: 6px;
  }

  .home {
    height: calc(100% - 88px);
  }

  .galery {
    padding: 100px 0;
    height: calc(100% - 200px);
  }
  .galery:before,
  .about:before,
  .prices:before,
  .contacts:before {
    display: block;
    content: " ";
    margin-top: -88px;
    height: 88px;
    visibility: hidden;
  }

  .about,
  .prices,
  .contacts {
    margin: 16px 16px 0 16px;
  }

  .prices,
  .contacts {
    margin-top: calc(88px + 80px);
  }

  .max-text {
    font-size: 1.1em;
    line-height: 1.4em;
    padding-top: 1.4em;
  }

  .prices-wrappper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (max-width: 320px) {
  .menu-item {
    font-size: 1em;
    margin-right: 6px;
  }
  .max-text {
    font-size: 1em;
    line-height: 1.2em;
    padding: 6px 6px 0;
  }
}

.galery {
  z-index: 150;
  display: flex;
  justify-content: center;
}
.about {
  z-index: 90;
}

.home {
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -88px;
}
.home-line {
  color: #3d3d3d;
}

.max-text {
  font-family: "Circle";
  font-weight: 400;
  color: #3d3d3d;
}

#galery-wrapper {
  align-items: center;
  overflow-y: hidden;
  z-index: 100;
  width: calc(100% - 2px);
  padding-left: 2px;
  height: 100%;
  display: flex;
}

#galery-wrapper {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
#galery-wrapper::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.galery-subheader {
  font-size: 1.2em;
  line-height: 3em;
}

.galery-item {
  max-width: calc(100% - 2px);
  max-height: 100%;
  padding-right: 2px;
}

.button {
  position: relative;
  text-decoration: none;
  line-height: 26px;
  height: 26px;
}

@media (hover: hover) {
  .button:hover > div {
    transform: scaleX(1);
  }
}

.button.active div {
  transform: scaleX(1);
  transform: scaleY(2);
}

.button div {
  width: 100%;
  height: 1px;
  background-color: #3d3d3d;
  position: absolute;
  bottom: 0;
  left: -1px;
  transform: scale(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.messengers-plate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 8px;
}

.messengers-plate a {
  padding: 4px;
  cursor: pointer;
}

.messengers-plate a img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.contacts {
  padding-bottom: 64px;
}

.contacts-tel-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.contacts-tel-mail a {
  text-decoration: none;
  color: #3d3d3d !important;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 22px;
}

.contacts-tel-mail a:not(:first-child) {
  margin-top: 8px;
}

.contacts-city-year {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-top: 88px;
}

.contacts-city-year span {
  color: #3d3d3d;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 22px;
}

.overlay {
  position: absolute;
  z-index: 700;
  background: #3d3d3d94;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 36px;
  height: 36px;
  z-index: 100;
}

.galery-item-full {
  max-width: calc(100% - 2px);
  max-height: calc(100% - 2px);
}
